{% extends 'base-template.html' %}
{% block content %}

<style>
    /* Optional: Styling for highlighting the clickable row */
    tr.clickable-row:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }
</style>

<div class="container">
  <a href="add-new-item-form">Add New Chore</a>
  <table class="table">
    <thread>
        <tr>
          <th>Name</th>
          <th>Notes</th>
          <th>Date Entered</th>
          <th>Delete</th>
          <th>Completed?</th>


        </tr>
      </thread>
      <tbody>
      {% for chore in chores %}

        <tr>

            <td>{{ chore.name }}</td>
            <td>{{ chore.notes }}</td>
            <td>{{ chore.date_entered }}</td>

            <td><button type="button" name="delete" onclick="confirmDelete({{ chore.id }})">Delete</button></td>
            <td><button type="button" name="delete" onclick="confirmDelete({{ chore.id }})">Complete</button></td>




        </tr>

        {% endfor %}
      </tbody>
  </table>
</div>
<script type="text/javascript">
  function confirmComplete(id){
    if(confirm("Are you sure you completed the chore?")){
      window.location.href = "/chores/complete-item?id=" + id
    }
  }





</script>

<script type="text/javascript">
  function confirmDelete(id){
    if(confirm("Are you sure you want to ")){
      window.location.href = "/chores/delete-item?id=" + id
    }
  }





</script>



{% endblock %}
