{% extends 'base-template.html' %}
{% block content %}
<div id="content">

  <form class="" action="change-password" method="post" enctype="multipart/form-data">
    {% if user %}<input name="id" type="hidden" value="{{ user.id}}">{% endif %}

    <label for="current-password">Current Password</label>
      <input type="text" name="current-password">

    <label for="new-password">New Password</label>
      <input type="text" name="new-password">

    <label for="confirm-password">Confirm Password</label>
      <input type="text" name="confirm-password">


    <input type="submit" value="Submit">
  </form>
</div>

<script type="text/javascript" src="/static/scripts/confirmDelete.js"></script>


{% endblock %}
