{% extends 'base-template.html' %}
{% block content %}
<div id="content">

  <form class="" action="edit-user" method="post" enctype="multipart/form-data">
    {% if user %}<input name="id" type="hidden" value="{{ user.id}}">{% endif %}

    <label for="name">Name</label>
      <input type="text" name="name" value="{{ user.name }}">

    <label for="username">Username</label>
      <input type="text" name="username" value="{{ user.username }}">

    <label for="push_device">Push Device</label>
      <input type="text" name="push_device" value="{{ user.push_device }}">

    <label for="image_file_location">Icon</label>
      <input type="file" name="image_file_location" />

    {% if user.privilege == 2 %}
    <label for="privilege">Privilege</label>
      <select id="privilege" name="privilege">
        {% for i in range(3) %}
          <option value="{{ i }}" {% if user.privilege == i %} selected {% endif %}>{{ i }}</option>
        {% endfor %}
      </select>

      <label for="delete"></label>
        <button type="button" name="delete" onclick="confirmDelete('/users/delete-user?id={{ user.id }}')">Delete</button>
    {% endif %}
    <input type="submit" value="Submit">
  </form>
</div>

<script type="text/javascript" src="/static/scripts/confirmDelete.js"></script>


{% endblock %}
