{% extends 'base-template.html' %}
{% block content %}
<div id="content">
  <form class="" {% if message %}action="add-new-message?id={{ message.id }}"{% else %}action="add-new-message"{% endif %} method="post">
    <div class="">
      {% if message %}<h1>{{ message.id}}</h1> {% endif %}
      {% if message %}<input type="hidden" name="id" value="{{ message.id}}">{% endif %}
      <!-- <h1>Add New Message</h1> -->

      <label for="title">Title</label>
      <input type="text" name="title" {% if message %}value="{{message.title}}"{% endif %}>

      <label for="content">Content</label>
      <input type="text" name="content"{% if message %}value="{{message.content}}"{% endif %}>

      <label for="status">Status</label>
      <input type="text" name="status" {% if message %}value="{{message.status}}"{% endif %}>

      <label for="directed_to">User:</label>
      <select id="directed_to" name="directed_to">
        {% for user in users %}
          <option value="{{ user.name }}">{{ user.name }}</option>
        {% endfor %}
      </select>


    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
