{% extends 'base-template.html' %}
{% block content %}
<div id="content">
  <form class="" {% if bill %}action="add-new-bill?_id={{ bill._id }}"{% else %}action="add-new-bill"{% endif %} method="post">
    {% if bill %}<h1>{{ bill._id}}</h1> {% endif %}
    {% if bill %}<input type="hidden" name="_id" value="{{ bill._id}}">{% endif %}

    <label for="name">Name</label>
      <input type="text" name="name" {% if bill %}value="{{bill.name}}"{% endif %}>

    <label for="ammount">Ammount</label>
      <input type="text" name="ammount"{% if bill %}value="{{bill.ammount}}"{% endif %}>

    <label for="notes">Notes</label>
      <input type="text" name="notes"{% if bill %}value="{{bill.notes}}"{% endif %}>

    <label for="date_due">Date Due</label>
      <input type="date" id="date_due" name="date_due">

    <label for="paycheck">Add To Paycheck</label>
      <select id="paycheck" name="paycheck">
        <!-- {% for user in users %}
          <option value="{{ user.name }}">{{ user.name }}</option>
        {% endfor %} -->
      </select>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
