{% extends 'base-template.html' %}
{% block content %}
<div id="content">
  <form class="" {% if paycheck %}action="add-new-paycheck?_id={{ paycheck.id }}"{% else %}action="add-new-paycheck"{% endif %} method="post">


    <label for="user">User</label>
      <select id="user" name="user">
        {% for user in users %}
          <option value="{{ user.name }}">{{ user.name }}</option>
        {% endfor %}
      </select>

    <label for="ammount">Ammount</label>
      <input type="text" name="ammount"{% if paycheck %}value="{{paycheck.ammount}}"{% endif %}>

    <label for="notes">Notes</label>
      <input type="text" name="notes"{% if paycheck %}value="{{paycheck.notes}}"{% endif %}>

    <label for="date_paid">Date Paid</label>
      <input type="date" id="date_paid" name="date_paid" value="{{ today }}">


    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
