{% extends 'base-template.html' %}
{% block content %}

<style>
    /* Optional: Styling for highlighting the clickable row */
    tr.clickable-row:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }
</style>

<div class="container">
  <a href="/finances/add-new-paycheck-form">Add New Paycheck</a>
  <table class="table">
    <thread>
        <tr>
          <th>User</th>
          <th>Ammount</th>
          <th>Notes</th>
          <th>Date Paid</th>
          <th>Bills</th>
        </tr>
      </thread>
      <tbody>

      {% for paycheck in paychecks %}

        <tr>
            <td>
              <img src={{ paycheck.user.image_file_location }} alt="" class="user-icon">
            </td>
            <td>${{ paycheck.ammount }}</td>
            <td>{{ paycheck.notes }}</td>
            <td>{{ paycheck.date_paid }}</td>
            <td>
              <table class="table">
                <thread>
                    <tr>
                      <th>Name</th>
                      <th>Ammount</th>
                      <th>Notes</th>
                      <th>Date Due</th>
                      <th>Date Paid</th>
                      <th>Is Paid</th>
                      <th>Add Bill
                        <a href="add-new-bill-form?paycheck_id={{ paycheck.id }}">
                          <span class="icon has-text-success">
                            <i class="fas fa-plus-circle"></i>
                          </span>
                        </a>
                      </th>
                    </tr>
                  </thread>
                  <tbody>

                  {% for bill in paycheck.bills %}

                    <tr>
                      {{bills_total}}
                    </tr>
                    <tr>
                        <td>{{ bill.name }}</td>
                        <td>${{ bill.ammount }}</td>
                        <td>{{ bill.notes }}</td>
                        <td>{{ bill.date_due }}</td>
                        <td>{{ bill.date_paid }}</td>
                        <td>{{ bill.is_paid }}</td>
                        <td>

                          <a href="add-new-bill-form?bill_id={{ bill.id }}">
                            <span class="icon has-text-warning">
                              <i class="fas fa-edit"></i>
                            </span>
                          </a>


                          <a onclick="confirmDelete('delete-bill?bill_id={{ bill.id }}')">
                            <span class="icon has-text-danger">
                              <i class="fas fa-trash"></i>
                            </span>
                          </a>
                        </td>

                    </tr>
                  {% endfor %}
                  </tbody>
              </table>
            </td>
            <td>

                <table >
                  <thread>
                    <tr class="is-selected">
                      <th>Bank</th>
                      <th>Total Bills</th>
                      <th>Ballance</th>
                    </tr>
                  </thread>
                  <tbody>
                    <tr class="is-selected is-warning">
                      {% set total = paycheck.bills | sum(attribute='ammount') %}
                      <td>${{ paycheck.ammount }}</td>
                      <td>${{ total }}</td>
                      {% set balance = paycheck.ammount - total %}
                      <td>${{ balance }}</td>
                    </tr>
                  </tbody>
                </table>

            </td>
        </tr>

        {% endfor %}
      </tbody>
  </table>
</div>

<script type="text/javascript" src="/static/scripts/confirmDelete.js"></script>

{% endblock %}
