{% extends 'base-template.html' %}
{% block content %}

<style>
    /* Optional: Styling for highlighting the clickable row */
    tr.clickable-row:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }
</style>

<div class="container">
  <a href="/finances/add-new-paycheck-form">Add New Paycheck</a>
  <table class="table">
    <thread>
        <tr>
          <th>User</th>
          <th>Ammount</th>
          <th>Notes</th>
          <th>Date Paid</th>
          <th>Bills</th>
        </tr>
      </thread>
      <tbody>
      {% for paycheck in paychecks %}

        <tr class="clickable-row" onclick="location.href='show-single-paycheck?_id={{ paycheck._id }}';">
            <td>
              <img src={{ paycheck.user.image_file_location }} alt="" class="user-icon">
            </td>
            <td>{{ paycheck.ammount }}</td>
            <td>{{ paycheck.notes }}</td>
            <td>{{ paycheck.date_paid }}</td>
            <td>
              <table class="table">
                <thread>
                    <tr>
                      <th>Name</th>
                      <th>Ammount</th>
                      <th>Notes</th>
                      <th>Date Due</th>
                      <th>Date Paid</th>
                      <th>Is Paid</th>
                    </tr>
                  </thread>
                  <tbody>
                  {% for bill in paycheck.bills %}

                    <tr class="clickable-row" onclick="location.href='show-single-bill?_id={{ bill._id }}';">

                        <td>{{ bill.name }}</td>
                        <td>{{ bill.ammount }}</td>
                        <td>{{ bill.notes }}</td>
                        <td>{{ bill.date_due }}</td>
                        <td>{{ bill.date_paid }}</td>
                        <td>{{ bill.is_paid }}</td>

                    </tr>
                  {% endfor %}
                  </tbody>
              </table>
            </td>

        </tr>

        {% endfor %}
      </tbody>
  </table>
</div>

<!-- <script type="text/javascript">
  function checkboxToggle(id){
    var checkBox = document.getElementById("paycheck_date_completed_" + id);
    if (checkBox.checked == true){
      window.location.href = "/paychecks/toggle-completed?_id=" + id + "&checked=true"

    } else {
      window.location.href = "/paychecks/toggle-completed?_id=" + id + "&checked=false"
    }
  }

  function confirmDelete(id){
    if(confirm("Are you sure you want to delete")){
      window.location.href = "/paychecks/delete-paycheck?_id=" + id
    }
  }

</script> -->

{% endblock %}
