{% extends 'base-template.html' %}
{% block content %}
<div id="content">
  <form class="" {% if email_server %}action="add-new-email_server?email_server_id={{ email_server.id }}"{% else %}action="add-new-email_server"{% endif %} method="post">
    <div class="">
      {% if email_server %}<h1>{{ email_server.id}}</h1> {% endif %}
      {% if email_server %}<input type="hidden" name="id" value="{{ email_server.id}}">{% endif %}
      <!-- <h1>Add New Message</h1> -->

      <label for="server">Server</label>
      <input type="text" name="server" {% if email_server %}value="{{email_server.server}}"{% endif %}>

      <label for="port">Port</label>
      <input type="text" name="port"{% if email_server %}value="{{email_server.port}}"{% endif %}>

      <label for="username">Username</label>
      <input type="text" name="username" {% if email_server %}value="{{email_server.username}}"{% endif %}>

      <label for="password">Password</label>
      <input type="text" name="password" {% if email_server %}value="{{email_server.password}}"{% endif %}>



    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
