{% extends 'base-template.html' %}
{% block content %}
<div id="content">
  <form class="" {% if item %}action="add-new-item?id={{ item.id }}"{% else %}action="add-new-item"{% endif %} method="post">
    <div class="">

      {% if item %}<input type="hidden" name="id" value="{{ item.id}}">{% endif %}
      <h1>Add New Item</h1>

      <label for="name">Item Name</label>
      <input type="text" name="name" {% if item %}value="{{item.name}}"{% endif %}>

      <label for="notes">Item Notes</label>
      <input type="text" name="notes"{% if item %}value="{{item.notes}}"{% endif %}>

      <label for="user">User</label>
        <select id="user" name="user">
          {% for user in users %}
            <option value="{{ user.name }}">{{ user.name }}</option>
          {% endfor %}
        </select>


    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
