{% extends 'base-template.html' %}
{% block content %}
<div id="content">
  <form class="" action="add-new-item" method="post">
    <label for="name">Name</label>
      <input type="text" name="name">

    <label for="notes">Notes</label>
      <input type="text" name="notes">


    <!-- <label for="paycheck">Add To Paycheck</label>
      <select id="paycheck" name="paycheck">
        {% for user in users %}
          <option value="{{ user.name }}">{{ user.name }}</option>
        {% endfor %}
      </select> -->
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
