{% block navbar %}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="#">Home</a>
      <a class="navbar-item" href="/messages">Messages</a>
      <a class="navbar-item" href="/todo">Todo List</a>
      <a class="navbar-item" href="/shopping-list">Shopping List</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Finances</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/finances/add-new-bill-form">Add New Bill</a>
          <a class="navbar-item" href="/finances/add-new-paycheck-form">Add New Paycheck</a>
        </div>
      </div>
    </div>
    {% if current_user.privilege == 2 %}
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">Admin</a>
      <div class="navbar-dropdown">
        <a class="navbar-item" href="/users/add-new-user-form">Add New User</a>
        <a class="navbar-item" href="/users/list-users">List Users</a>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <!-- <a class="button is-primary"><strong>Sign up</strong></a> -->
        {% if current_user.is_authenticated %}
          <a class="button is-primary" href="/logout" ><strong>Log Out</strong></a>

        {% endif %}
      </div>
    </div>
  </div>
</nav>
{% endblock %}
